<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<script> 
			$(function(){
				$("#header_content").load("header.html"); 
				$("#footer_content").load("footer.html"); 
			});
		</script> 
	</head>
    <body>		
	<div id="header_content"></div>
	<div id="wrapper" class="container">
	</div>

		<div class="tile tile-about">
				<div class="owner" data-block="owner">
					<div>
							<h2>About Us</h2>
						<div class="author">
						</div>
						<div class="description">
							<p><a href="https://www.recorations.com/about-us#"></a>Tamtam home style is house of unique home accessories that made by Egyptians talents.</p><p>TamTam home style brand is a recently established brand in Egypt, we have been able be one of the leading company in art design and decor.</p><p>Our products mix between the Eastern and Western cultures in such a stylish and and vibrant manner.&nbsp;</p><p></p><p>TamTam Home Style is an Egyptian brand that had been launched in 2018 by Dr. Fatma Helal. Fatma is talented person which decided to brand her unique items and start her new business after working as a Doctor for 30 years.​</p><a href="https://www.facebook.com/recorations.home.accessories/"></a><a href="https://www.instagram.com/recorationshomeaccessories/"></a><a href="https://www.recorations.com/about-us#"></a><p></p>
						</div>
						<div class="cb"></div>
					</div>
				</div>
		</div>
	<div class="tile tile-location">

	</div>

    <div id="contacts" class="tile tile-contactInfo">
            <div class="contacts process-it" data-block="contacts">
                <div>
                            <h2>Contact us</h2>
                        <div class="data">
                                    <div>
                                        <div class="email value" data-type="email">
                                                    <a href="mailto:tamtam.home.style@gmail.com">
                                                        <span class="icon"><svg width="16" height="12" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg"><path d="M2 0h12c1.105 0 2 .895 2 2v8c0 1.105-.895 2-2 2H2c-1.105 0-2-.895-2-2V2C0 .895.895 0 2 0zm0 1c-.552 0-1 .448-1 1v8c0 .552.448 1 1 1h12c.552 0 1-.448 1-1V2c0-.552-.448-1-1-1H2zm.817 1.114L8 6.368l5.183-4.254c.213-.176.528-.145.703.07.176.212.145.527-.07.702L8.317 7.4c-.183.152-.45.152-.633 0l-5.5-4.514c-.214-.175-.245-.49-.07-.703.176-.214.49-.245.704-.07z" fill-rule="nonzero" fill="#999"/></svg></span>
                                                        <span class="text">tamtam.home.style@gmail.com</span>
                                                    </a>
                                        </div>
                                    </div>
                        </div>
                            <div>
                                <h3>Connect with us</h3>
                            </div>
                        <div class="channels" role="region" aria-label="Connect with us">
                            <div>
                                        <div class="facebook">
                                            <div class="logo">
                                                <a data-title="Facebook" href="https://facebook.com/Tamtam.home.style" target="_blank" rel="noopener noreferrer nofollow"><span>Facebook</span></a>
                                            </div>
                                        </div>
                                        <div class="instagram">
                                            <div class="logo">
                                                <a data-title="Instagram" href="https://instagram.com/tamtam.home.style" target="_blank" rel="noopener noreferrer nofollow"><span>Instagram</span></a>
                                            </div>
                                        </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
				<div id="footer-bar">
				<div id="footer_content"></div>
			</div>
		<script src="themes/js/common.js"></script>		
    </body>
</html>