<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tamtam Home Style</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap/css/bootstrap-responsive.min.css') }}">


    <!-- global styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'themes/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'themes/css/flexslider.css') }}">

    <!-- scripts -->
    <script src="{{ url_for('static', filename='themes/js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/js/superfish.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/js/jquery.scrolltotop.js') }}"></script>s
    <!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div>
        <div id="top-bar" class="container">
            <div class="row">
                <div class="span4">
                    <p class="logo"><img src="{{ url_for('static', filename= 'themes/images/logo.png' ) }}" alt=""></p>
                    <!--	<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
					</form>-->
                </div>
                <div class="span8">
                    <div class="account pull-right">
                        <ul class="user-menu">
                            <li><a href="{{url_for('home')}}">Homepage</a></li>
                            <li><a href="{{url_for('about')}}">About Us</a></li>

                            {% if session['username'] == null:%}
                                <li><a href="{{url_for('home')}}">Login</a></li>
                                <li><a href="{{url_for('register')}}">Register</a></li>
                            {% else:  %}
                                <li><a href="{{url_for('logout')}}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header_text sub">
                <img class="pageBanner" src="{{ url_for('static', filename= 'themes/images/pageBanner.png' ) }}"
                    alt="New products">
            </div>

        </div>
        <div id="wrapper" class="container">
            {% block content %}
            {% endblock %}
            <section id="footer-bar">
                <div class="row">
                    <div class="span3">
                        <h4>Navigation</h4>
                        <ul class="nav">
                            <li><a href="{{url_for('home')}}">Homepage</a></li>
                            <li><a href="{{url_for('about')}}">About Us</a></li>
                            {% if session['username'] == null:%}
                                <li><a href="{{url_for('home')}}">Login</a></li>
                                <li><a href="{{url_for('register')}}">Register</a></li>
                            {% else:  %}
                                <li><a href="{{url_for('logout')}}">Logout</a></li>
                            {% endif %}
                         
                        </ul>
                    </div>
                    <div class="span5">
                        <p class="logo"><img src="{{ url_for('static', filename= 'themes/images/logo.png' ) }}"
                                class="site_logo" alt=""></p>
                        <p>Tamtam home style is house of unique home accessories that made by Egyptians talents.</p>
                        <br />
                        <link rel="stylesheet"
                            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <!-- Add font awesome icons -->
                        <a href="https://www.facebook.com/Tamtam.home.style" class="fa fa-facebook"></a>
                        <a href="https://www.instagram.com/tamtam.home.style" class="fa fa-instagram"></a>
                    </div>
                </div>
            </section>
            <section id="copyright">
                <span>Copyright 2020 All right reserved.</span>
            </section>
        </div>
    </div>
</body>
<html>